@page
@model BlogsModel
@using Final_Project.Models;
<section class="blog_area section-padding">

    <div class="container">
        <div class="row">



            <section class="blog_area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-5 mb-lg-0">

                            <div class="blog_left_sidebar">
                                @foreach (var blog in Model.blogs)
                                {
                                    Blog blog1 = (Blog)blog;

                                    <article class="blog_item">
                                        <div class="blog_item_img">
                                            <img class="card-img rounded-0" src="@blog1.Image" alt="">
                                            <a href="#" class="blog_item_date">
                                                <h3>@blog1.PublishDate.Value.Day</h3>
                                                <p>
                                                    @blog1.PublishDate.Value.ToString("MMM")
                                                </p>
                                            </a>
                                        </div>
                                        <div class="blog_details">
                                            <a class="d-inline-block" href="blog_details.html">
                                                <h2 class="blog-head" style="color: #2d2d2d;">@blog1.Title</h2>
                                            </a>
                                            <p>
                                                @blog1.ShortContent
                                            </p>
                                            <ul class="blog-info-link">
                                                <li><a href="#"><i class="fa fa-user"></i> @blog1.Author</a></li>
                                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                }

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog_right_sidebar">
                                <aside class="single_sidebar_widget search_widget">
                                    <form asp-page="Blogs" method="post">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <input type="text" name="title" value="@Model.Title" class="form-control" placeholder='Search Keyword' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                                <div class="input-group-append">
                                                    <button class="btns" type="button"><i class="ti-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Search</button>
                                    </form>
                                </aside>
                                <aside class="single_sidebar_widget popular_post_widget">
                                    <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                                    <div class="media post_item">
                                        <img src="assets/img/post/post_1.png" alt="post">
                                        <div class="media-body">
                                            <a href="blog_details.html">
                                                <h3 style="color: #2d2d2d;">From life was you fish...</h3>
                                            </a>
                                            <p>January 12, 2019</p>
                                        </div>
                                    </div>
                                    <div class="media post_item">
                                        <img src="assets/img/post/post_2.png" alt="post">
                                        <div class="media-body">
                                            <a href="blog_details.html">
                                                <h3 style="color: #2d2d2d;">The Amazing Hubble</h3>
                                            </a>
                                            <p>02 Hours ago</p>
                                        </div>
                                    </div>
                                    <div class="media post_item">
                                        <img src="assets/img/post/post_3.png" alt="post">
                                        <div class="media-body">
                                            <a href="blog_details.html">
                                                <h3 style="color: #2d2d2d;">Astronomy Or Astrology</h3>
                                            </a>
                                            <p>03 Hours ago</p>
                                        </div>
                                    </div>
                                    <div class="media post_item">
                                        <img src="assets/img/post/post_4.png" alt="post">
                                        <div class="media-body">
                                            <a href="blog_details.html">
                                                <h3 style="color: #2d2d2d;">Asteroids telescope</h3>
                                            </a>
                                            <p>01 Hours ago</p>
                                        </div>
                                    </div>
                                </aside>
                                <aside class="single_sidebar_widget newsletter_widget">
                                    <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                                    <form action="#">
                                        <div class="form-group">
                                            <input type="email" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                        </div>
                                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Subscribe</button>
                                    </form>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

